body{
background-color: #fdbcb4;
}

/*Tipo de letra de título*/
header{
  font-family: 'Pacifico', cursive
}

/* Se inserto 0 para que no tenga un relleno entre el margen y el subraydo */
h1{
  margin-bottom: 0px;
}

/* Se crea subrayado para titulo (h1)*/
.line{
width: 80px;
height: 10px;
background-color: black;
}

/*Tipo de letra dentro de imagenes*/
#container{
font-family: 'Fredericka the Great', cursive;
width: 50%; /*encerrando las imagenes en un contendor para que la letra este dentro ello*/
padding-top: 10px;
}

/*insertando tamaño de letra de color blanco sin subrayado hacia la derecha */
figcaption{
  position: relative;
  bottom: 28px;
  right: 9px;
  font-size: 13.5px;
  color:white;
  text-align: right;
}


/*Anchura de imagen con filtro para un efecto mas oscuro*/
img{
width: 164px;
-webkit: filter: contrast(0.4);
 filter: contrast(0.4);
}

/* Se indico que tenga una efecto en line pero en bloque*/
figure{
  display: inline-block;
}
